<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ratan_000.imageupload" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogoPage"
            android:label="WELCOME TO ePIC SHARE" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="Image_Upload" >
        </activity>
        <activity
            android:name=".SignUP"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".AlbumList"
            android:label="@string/title_activity_album_list" >
        </activity>
        <activity
            android:name=".options"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name=".AddFridends"
            android:label="@string/title_activity_add_fridends" >
        </activity>
        <activity
            android:name=".SharedAlbums"
            android:label="@string/title_activity_shared_albums" >
        </activity>
        <activity
            android:name=".SharingAlubumWithFriend"
            android:label="@string/title_activity_sharing_alubum_with_friend" >
        </activity>
        <activity
            android:name=".ShowMyAlbums"
            android:label="@string/title_activity_show_my_albums" >
        </activity>
        <activity
            android:name=".ZoomImage"
            android:label="@string/title_activity_zoom_image" >
        </activity>
        <activity
            android:name=".CreateAlbum"
            android:label="@string/title_activity_create_album" >
        </activity>
        <activity
            android:name=".CreateGroup"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".crtegrp"
            android:label="@string/title_activity_crtegrp" >
        </activity>
        <activity
            android:name=".login"
            android:label="Login Page" >
        </activity>
        <activity
            android:name=".searchImage"
            android:label="@string/title_activity_search_image" >
        </activity>
        <activity
            android:name=".shareAlbumwithGroup"
            android:label="@string/title_activity_share_albumwith_group" >
        </activity>
        <!--
        <activity
            android:name=".AddMembersToGroup"
            android:label="@string/title_activity_add_members_to_group" >
        </activity>
        -->
        <activity
            android:name=".addMember2"
            android:label="@string/title_activity_add_member2" >
        </activity>
        <activity
            android:name=".showMyGroupMembers"
            android:label="@string/title_activity_show_my_group_members" >
        </activity>
        <activity
            android:name=".DeleteActivity"
            android:label="@string/title_activity_delete" >
        </activity>
        <activity
            android:name=".showMyFriends"
            android:label="@string/title_activity_show_my_friends" >
        </activity>
        <activity
            android:name=".DeleteAlbum"
            android:label="@string/title_activity_delete_album" >
        </activity>
        <activity
            android:name=".invite"
            android:label="@string/title_activity_invite" >
        </activity>
    </application>

</manifest>
